* {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(pic/black\ background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

/* .background1{
    background-image: url(pic/duplex.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
} */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
    padding: 0px 10px 20px 10px;
}

.logo img {
    width: 5rem;
    height: 50px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 20px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    color: white;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    transition: 0.15s ease-in-out;
    background-color: orange;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

.contain1 {
    display: flex;
    justify-content: space-between;
    margin: 7rem 0rem;
    box-sizing: border-box;
    overflow-x: hidden;

}

.contain1 div {
    width: 50%;
}

.contain1 div:last-child {
    margin-top: 10rem;
}

header img {
    width: 100%;
    height: 100vh;
}

.contain2,
.Projects {
    text-align: center;
    align-items: center;
}

.Projects {
    margin-top: 3rem;
}

.Projects div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Projects img {
    width: 250px;
    margin-top: 2rem;
}

footer {
    background-image: url(pic/architectural\ background.jpg);
    margin-top: 5rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer {
    background-color: rgb(17, 17, 17, 0.7);
    display: flex;
    justify-content: space-evenly;
    font-size: small;
    width: 100%;
    padding: 10px 14px;
}

.footer a {
    color: azure;
    text-decoration: none;
}

.footer a:hover {
    color: beige;
}

@media(max-width:640px) {

    body {
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        background: none;
        /* font-family: Arial, Helvetica, sans-serif;
        background-image: url(pic/duplex.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
        width: 100%;
    }

    .nav-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        padding: 0px 10px 50px 10px;
    }

    .logo {
        margin-left: 0px;
    }

    .logo img {
        width: 4rem;
        height: 50px;
        margin-top: 2.5rem;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: rgb(19, 16, 16, 0.8);
        transition: all 0.2s ease-in-out;
        color: white;
    }

    .menu li {
        margin-top: 5px;
    }

    .menu li a {
        padding: 10px;
        color: white;
        font-weight: bolder;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    .house img {
        height: 300px;
        border-radius: 25px;
    }

    .contain1 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 1rem 0rem;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .contain1 div:last-child {
        margin-top: 2rem;
    }

    .contain1 div {
        width: 100%;
        margin-bottom: 3rem;
    }

    footer {
        background-image: url(pic/architectural\ background.jpg);
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: cornsilk;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footer {
        background-color: rgb(17, 17, 17, 0.7);
        display: flex;
        justify-content: space-evenly;
        font-size: small;
        width: 100%;
    }
}